In [1]:
import pandas as pd

In [2]:
pd.read_csv()

TypeError: parser_f() missing 1 required positional argument: 'filepath_or_buffer'

In [3]:
df1 = pd.read_csv('misc files/supermarkets.csv')

In [4]:
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [5]:
df2 = pd.read_json('misc files/supermarkets.json')

In [6]:
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [2]:
df3 = pd.read_csv('misc files/supermarkets-commas.txt')

In [3]:
df3

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
df4 = pd.read_csv('misc files/supermarkets-semi-colons.txt', sep=';')

In [7]:
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [10]:
df4.State

0            CA 94114
1            CA 94119
2    California 94114
3            CA 94114
4          California
5            CA 94114
Name: State, dtype: object

In [12]:
df4.State[:2]

0    CA 94114
1    CA 94119
Name: State, dtype: object

In [13]:
help(df4.iloc)

Help on _iLocIndexer in module pandas.core.indexing object:

class _iLocIndexer(_LocationIndexer)
 |  Purely integer-location based indexing for selection by position.
 |
 |  ``.iloc[]`` is primarily integer position based (from ``0`` to
 |  ``length-1`` of the axis), but may also be used with a boolean
 |  array.
 |
 |  Allowed inputs are:
 |
 |  - An integer, e.g. ``5``.
 |  - A list or array of integers, e.g. ``[4, 3, 0]``.
 |  - A slice object with ints, e.g. ``1:7``.
 |  - A boolean array.
 |  - A ``callable`` function with one argument (the calling Series or
 |    DataFrame) and that returns valid output for indexing (one of the above).
 |    This is useful in method chains, when you don't have a reference to the
 |    calling object, but would like to base your selection on some value.
 |
 |  ``.iloc`` will raise ``IndexError`` if a requested indexer is
 |  out-of-bounds, except *slice* indexers which allow out-of-bounds
 |  indexing (this conforms with python/numpy *slice* semantics).
 |
 |  See more at :ref:`Selection by Position <indexing.integer>`.
 |
 |  See Also
 |  --------
 |  DataFrame.iat : Fast integer location scalar accessor.
 |  DataFrame.loc : Purely label-location based indexer for selection by label.
 |  Series.iloc : Purely integer-location based indexing for
 |                 selection by position.
 |
 |  Examples
 |  --------
 |
 |  >>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
 |  ...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
 |  ...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
 |  >>> df = pd.DataFrame(mydict)
 |  >>> df
 |        a     b     c     d
 |  0     1     2     3     4
 |  1   100   200   300   400
 |  2  1000  2000  3000  4000
 |
 |  **Indexing just the rows**
 |
 |  With a scalar integer.
 |
 |  >>> type(df.iloc[0])
 |  <class 'pandas.core.series.Series'>
 |  >>> df.iloc[0]
 |  a    1
 |  b    2
 |  c    3
 |  d    4
 |  Name: 0, dtype: int64
 |
 |  With a list of integers.
 |
 |  >>> df.iloc[[0]]
 |     a  b  c  d
 |  0  1  2  3  4
 |  >>> type(df.iloc[[0]])
 |  <class 'pandas.core.frame.DataFrame'>
 |
 |  >>> df.iloc[[0, 1]]
 |       a    b    c    d
 |  0    1    2    3    4
 |  1  100  200  300  400
 |
 |  With a `slice` object.
 |
 |  >>> df.iloc[:3]
 |        a     b     c     d
 |  0     1     2     3     4
 |  1   100   200   300   400
 |  2  1000  2000  3000  4000
 |
 |  With a boolean mask the same length as the index.
 |
 |  >>> df.iloc[[True, False, True]]
 |        a     b     c     d
 |  0     1     2     3     4
 |  2  1000  2000  3000  4000
 |
 |  With a callable, useful in method chains. The `x` passed
 |  to the ``lambda`` is the DataFrame being sliced. This selects
 |  the rows whose index label even.
 |
 |  >>> df.iloc[lambda x: x.index % 2 == 0]
 |        a     b     c     d
 |  0     1     2     3     4
 |  2  1000  2000  3000  4000
 |
 |  **Indexing both axes**
 |
 |  You can mix the indexer types for the index and columns. Use ``:`` to
 |  select the entire axis.
 |
 |  With scalar integers.
 |
 |  >>> df.iloc[0, 1]
 |  2
 |
 |  With lists of integers.
 |
 |  >>> df.iloc[[0, 2], [1, 3]]
 |        b     d
 |  0     2     4
 |  2  2000  4000
 |
 |  With `slice` objects.
 |
 |  >>> df.iloc[1:3, 0:3]
 |        a     b     c
 |  1   100   200   300
 |  2  1000  2000  3000
 |
 |  With a boolean array whose length matches the columns.
 |
 |  >>> df.iloc[:, [True, False, True, False]]
 |        a     c
 |  0     1     3
 |  1   100   300
 |  2  1000  3000
 |
 |  With a callable function that expects the Series or DataFrame.
 |
 |  >>> df.iloc[:, lambda df: [0, 2]]
 |        a     c
 |  0     1     3
 |  1   100   300
 |  2  1000  3000
 |
 |  Method resolution order:
 |      _iLocIndexer
 |      _LocationIndexer
 |      _NDFrameIndexer
 |      pandas._libs.indexing._NDFrameIndexerBase
 |      builtins.object
 |
 |  Methods inherited from _LocationIndexer:
 |
 |  __getitem__(self, key)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _NDFrameIndexer:
 |
 |  __call__(self, axis=None)
 |      Call self as a function.
 |
 |  __iter__(self)
 |
 |  __setitem__(self, key, value)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _NDFrameIndexer:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from _NDFrameIndexer:
 |
 |  axis = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__ = __reduce_cython__(...)
 |
 |  __setstate__ = __setstate_cython__(...)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  name
 |
 |  ndim
 |
 |  obj

In [17]:
df4.loc[0,'Country':'Name']

Country        USA
Name       Madeira
Name: 0, dtype: object

In [21]:
df4.iloc[:, :]

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [23]:
df4.drop('City', axis=1)

   ID          Address             State Country          Name  Employees
0   1     3666 21st St          CA 94114     USA       Madeira          8
1   2   735 Dolores St          CA 94119     USA   Bready Shop         15
2   3      332 Hill St  California 94114     USA   Super River         25
3   4     3995 23rd St          CA 94114     USA    Ben's Shop         10
4   5  1056 Sanchez St        California     USA       Sanchez         12
5   6  551 Alvarado St          CA 94114     USA    Richvalley         20

In [1]:
from geopy.geocoders import ArcGIS
nom = ArcGIS

In [2]:
help(ArcGIS)

Help on class ArcGIS in module geopy.geocoders.arcgis:

class ArcGIS(geopy.geocoders.base.Geocoder)
 |  Geocoder using the ERSI ArcGIS API.
 |
 |  Documentation at:
 |      https://developers.arcgis.com/rest/geocode/api-reference/overview-world-geocoding-service.htm
 |
 |  Method resolution order:
 |      ArcGIS
 |      geopy.geocoders.base.Geocoder
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, username=None, password=None, referer=None, token_lifetime=60, scheme=None, timeout=DEFAULT_SENTINEL, proxies=DEFAULT_SENTINEL, user_agent=None, format_string=None, ssl_context=DEFAULT_SENTINEL, auth_domain='www.arcgis.com', domain='geocode.arcgis.com')
 |      :param str username: ArcGIS username. Required if authenticated
 |          mode is desired.
 |
 |      :param str password: ArcGIS password. Required if authenticated
 |          mode is desired.
 |
 |      :param str referer: Required if authenticated mode is desired.
 |          `Referer` HTTP header to send with each request,
 |          e.g., ``'http://www.example.com'``. This is tied to an issued token,
 |          so fielding queries for multiple referrers should be handled by
 |          having multiple ArcGIS geocoder instances.
 |
 |      :param int token_lifetime: Desired lifetime, in minutes, of an
 |          ArcGIS-issued token.
 |
 |      :param str scheme:
 |          See :attr:`geopy.geocoders.options.default_scheme`.
 |          If authenticated mode is in use, it must be ``'https'``.
 |
 |      :param int timeout:
 |          See :attr:`geopy.geocoders.options.default_timeout`.
 |
 |      :param dict proxies:
 |          See :attr:`geopy.geocoders.options.default_proxies`.
 |
 |      :param str user_agent:
 |          See :attr:`geopy.geocoders.options.default_user_agent`.
 |
 |          .. versionadded:: 1.12.0
 |
 |      :param str format_string:
 |          See :attr:`geopy.geocoders.options.default_format_string`.
 |
 |          .. versionadded:: 1.14.0
 |
 |      :type ssl_context: :class:`ssl.SSLContext`
 |      :param ssl_context:
 |          See :attr:`geopy.geocoders.options.default_ssl_context`.
 |
 |          .. versionadded:: 1.14.0
 |
 |      :param str auth_domain: Domain where the target ArcGIS auth service
 |          is hosted. Used only in authenticated mode (i.e. username,
 |          password and referer are set).
 |
 |          .. versionadded:: 1.17.0
 |
 |      :param str domain: Domain where the target ArcGIS service
 |          is hosted.
 |
 |          .. versionadded:: 1.17.0
 |
 |  geocode(self, query, exactly_one=True, timeout=DEFAULT_SENTINEL, out_fields=None)
 |      Return a location point by address.
 |
 |      :param str query: The address or query you wish to geocode.
 |
 |      :param bool exactly_one: Return one result or a list of results, if
 |          available.
 |
 |      :param int timeout: Time, in seconds, to wait for the geocoding service
 |          to respond before raising a :class:`geopy.exc.GeocoderTimedOut`
 |          exception. Set this only if you wish to override, on this call
 |          only, the value set during the geocoder's initialization.
 |
 |      :param out_fields: A list of output fields to be returned in the
 |          attributes field of the raw data. This can be either a python
 |          list/tuple of fields or a comma-separated string. See
 |          https://developers.arcgis.com/rest/geocode/api-reference/geocoding-service-output.htm
 |          for a list of supported output fields. If you want to return all
 |          supported output fields, set ``out_fields="*"``.
 |
 |          .. versionadded:: 1.14.0
 |      :type out_fields: str or iterable
 |
 |      :rtype: ``None``, :class:`geopy.location.Location` or a list of them, if
 |          ``exactly_one=False``.
 |
 |  reverse(self, query, exactly_one=True, timeout=DEFAULT_SENTINEL, distance=None, wkid=4326)
 |      Return an address by location point.
 |
 |      :param query: The coordinates for which you wish to obtain the
 |          closest human-readable addresses.
 |      :type query: :class:`geopy.point.Point`, list or tuple of ``(latitude,
 |          longitude)``, or string as ``"%(latitude)s, %(longitude)s"``.
 |
 |      :param bool exactly_one: Return one result or a list of results, if
 |          available.
 |
 |      :param int timeout: Time, in seconds, to wait for the geocoding service
 |          to respond before raising a :class:`geopy.exc.GeocoderTimedOut`
 |          exception. Set this only if you wish to override, on this call
 |          only, the value set during the geocoder's initialization.
 |
 |      :param int distance: Distance from the query location, in meters,
 |          within which to search. ArcGIS has a default of 100 meters, if not
 |          specified.
 |
 |      :param str wkid: WKID to use for both input and output coordinates.
 |
 |          .. deprecated:: 1.14.0
 |             It wasn't working before because it was specified incorrectly
 |             in the request parameters, and won't work even if we fix the
 |             request, because :class:`geopy.point.Point` normalizes the
 |             coordinates according to WKID 4326. Please open an issue in
 |             the geopy issue tracker if you believe that custom wkid values
 |             should be supported.
 |             This parameter is scheduled for removal in geopy 2.0.
 |
 |      :rtype: ``None``, :class:`geopy.location.Location` or a list of them, if
 |          ``exactly_one=False``.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  auth_path = '/sharing/generateToken'
 |
 |  geocode_path = '/arcgis/rest/services/World/GeocodeServer/findAddressC...
 |
 |  reverse_path = '/arcgis/rest/services/World/GeocodeServer/reverseGeoco...
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from geopy.geocoders.base.Geocoder:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)