In [1]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()

In [4]:
import pandas as pd
df = pd.read_csv('C:/Users/the607/AnacondaProjects/Udemy/Python-Mega-Course/misc files/supermarkets.csv')

In [9]:
df['address_full'] = df['Address'] + ', ' + df['City'] + ', ' + df['State'] + ', ' + df['Country']

In [11]:
df

,ID,Address,City,State,Country,Name,Employees,address_full
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA"

In [21]:
df['address_full'].apply(nom.geocode)[0].latitude

37.7564496899993

In [22]:
df

,ID,Address,City,State,Country,Name,Employees,address_full,coordinates
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411..."
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA","(735 Dolores St, San Francisco, California, 94..."
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114..."
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411..."
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9..."
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9..."

In [23]:
df['latitude'] = df['coordinates'].apply(lambda x: x.latitude)
df['longitude'] = df['coordinates'].apply(lambda x: x.longitude)

In [24]:
df

,ID,Address,City,State,Country,Name,Employees,address_full,coordinates,latitude,longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411...",37.756450,-122.429364
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA","(735 Dolores St, San Francisco, California, 94...",37.757796,-122.425597
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114...",37.755648,-122.428803
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411...",37.752991,-122.431702
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9...",37.752129,-122.430028
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9...",37.753719,-122.433240